@*
    Yönetim panelinde Gösterge paneli sayfası (AnalysisPanel)
*@
@{
    ViewData["Title"] = "AnalysisPanel";
    Layout = "WriterLayout";
}

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">

        @await Component.InvokeAsync("WriterStaticticMonthBlogs")
        @await Component.InvokeAsync("WriterStatisticTotal")
    </div>

    <div class="row">
        <div class="col-md-6">
            @await Component.InvokeAsync("WriterTopFiveBlog")
        </div>
        <div class="col-md-6">
            @await Component.InvokeAsync("WriterTopFiveEducation")
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-15">
            @await Component.InvokeAsync("WriterTopBlog")
        </div>
        <div class="col-md-6 mb-15">
            @await Component.InvokeAsync("WriterTopEducation")
        </div>
    </div>

</div>
