@*
    Yönetim panelinde Analiz paneli sayfası (Dashboard)
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "WriterLayout";
}
<div class="main-container">
    <div class="container-fluid">
        <div class="pd-ltr-20">
            <div class="card-box pd-20 height-100-p mb-30">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="~/admin/vendors/images/kırmızı_logo_transparan.png" />
                    </div>
                    <div class="col-md-8">
                        <h4 class="font-20 weight-500 mb-10 text-capitalize">
                            Hoşgeldin
                            <div class="weight-600 font-30 text-blue">Johnny Brown!</div>
                        </h4>
                        <p class="font-18 max-width-600">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                            hic non repellendus debitis iure, doloremque assumenda. Autem
                            modi, corrupti, nobis ea iure fugiat, veniam non quaerat
                            mollitia animi error corporis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <div id="chart"></div>
                            </div>
                            <div class="widget-data">
                                <div class="h4 mb-0">2000</div>
                                <div class="weight-600 font-14">Toplam Öğrenci Sayısı</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <div id="chart2"></div>
                            </div>
                            <div class="widget-data">
                                <div class="h4 mb-0">@ViewBag.v1</div>
                                <div class="weight-600 font-14">Toplam Blog Sayısı</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <div id="chart3"></div>
                            </div>
                            <div class="widget-data">
                                <div class="h4 mb-0">350</div>
                                <div class="weight-600 font-14">Toplam Okuyucu Sayısı</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <div id="chart4"></div>
                            </div>
                            <div class="widget-data">
                                <div class="h4 mb-0">606</div>
                                <div class="weight-600 font-14">Toplam Görüntülenme Sayısı</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* 		<div class="row">
            <div class="col-xl-8 mb-30">
            <div class="card-box height-100-p pd-20">
            <h2 class="h4 mb-20">Activity</h2>
            <div id="chart5"></div>
            </div>
            </div>
            <div class="col-xl-4 mb-30">
            <div class="card-box height-100-p pd-20">
            <h2 class="h4 mb-20">Lead Target</h2>
            <div id="chart6"></div>
            </div>
            </div>
            </div> *@

            <div class="card-box mb-30">
                <h2 class="h5 pd-20">Öğrenciler</h2>
                <table class="data-table table nowrap">
                    <thead>
                        <tr>
                            <th class="table-plus datatable-nosort">Profil</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Kurs Puanı</th>
                            <th class="datatable-nosort">İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-plus">
                                <img src="~/admin/vendors/images/img.jpg"
                                     width="70"
                                     height="70"
                                     alt="" />
                            </td>
                            <td>
                                <h5 class="font-16">A.Vahap</h5>
                                Phthon Kursu
                            </td>
                            <td>Doğan</td>
                            <td>9/10</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                       href="#"
                                       role="button"
                                       data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> Profili Görüntüle</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Mesaj At</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Çıkar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-plus">
                                <img src="~/admin/vendors/images/chat-img1.jpg"
                                     width="70"
                                     height="70"
                                     alt="" />
                            </td>
                            <td>
                                <h5 class="font-16">Ramazan</h5>
                                C# Console Kursu
                            </td>
                            <td>Doğan</td>
                            <td>9/10</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                       href="#"
                                       role="button"
                                       data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> Profili Görüntüle</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Mesaj At</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Çıkar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-plus">
                                <img src="~/admin/vendors/images/chat-img1.jpg"
                                     width="70"
                                     height="70"
                                     alt="" />
                            </td>
                            <td>
                                <h5 class="font-16">Seher</h5>
                                Java Kursu
                            </td>
                            <td>Doğan</td>
                            <td>9/10</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                       href="#"
                                       role="button"
                                       data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> Profili Görüntüle</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Mesaj At</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Çıkar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-plus">
                                <img src="~/admin/vendors/images/img.jpg"
                                     width="70"
                                     height="70"
                                     alt="" />
                            </td>
                            <td>
                                <h5 class="font-16">Dilara</h5>
                                Java Kursu
                            </td>
                            <td>Atak</td>
                            <td>8/10</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                       href="#"
                                       role="button"
                                       data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> Profili Görüntüle</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Mesaj At</a>
                                        <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Çıkar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- SON 7 BLOGUN LİSTELENMESİ-->
            @await Component.InvokeAsync("BlogListDashboard")
            <!--// SON 7 BLOGUN LİSTELENMESİ-->
            <!-- KATEGORİLERE GÖRE BLOG SAYILARI -->
            @await Component.InvokeAsync("CategoryListDashboard")
            <!--// KATEGORİLERE GÖRE BLOG SAYILARI -->
        </div>
    </div>
</div>