<div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="~/admin/vendors/images/kırmızı_logo_transparan.png" />
        </div>
        <div class="col-md-8">
            <h4 class="font-20 weight-500 mb-10 text-capitalize">
                Hoşgeldiniz
                <div class="weight-600 font-30 text-blue">AcodeX Academy</div>
            </h4>
            <p class="font-18 max-width-600">
               AcodeX Academy sizler için hız kesmeden gelişmeye devame diyor. Siz sayın eğitimcilerimiz sayesinde yazılım alanında kendini geliştirmek ve farkındalık yaratmak isteyen her bir birey için çalışmaya devam ediyoruz.
               Her türlü yardım ve destek için biz buradayız :) <br/>
                <b>İyi ki varsınız </b>
            </p>
        </div>
    </div>
</div>