@model IEnumerable<EntityLayer.Concrate.Comment>

@foreach (var comment in Model)
{
    <div class="comment">
        <b>@comment.UserName</b>
        <p>@comment.Content</p>
        <p><small>@comment.UserName</small></p>
    </div>
}
