
@using EntityLayer.Concrate;
@model List<Category>;

@{
    int siraNo = 1;
}

<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Kategori Listesi</h4>
    </div>
    <div class="table-responsive">
        <table class="table">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Kategory Ad</th>
                    <th>Açıklama</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="table-plus">@siraNo</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            @if (item.Status)
                            {
                                <span class="text-success">Aktif</span>
                            }
                            else
                            {
                                <span class="text-danger">Pasif</span>
                            }
                        </td>
                    </tr>
                    siraNo++;
                }
            </tbody>
        </table>
    </div>
</div>