@*
    Programlama sayfasının içeriği
 *@
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="right-side text-center">
    <h1 class="display-4">Blog</h1>
    <p>AcodeX web sitesi projesi</p>
    <p>Proje Vahap Doğan tarafından kodlanıyor...</p>

</div>