@*
    Bilgisayar bilimleri sayfa içeriği
*@
@{
    ViewData["Title"] = "Diger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Diğer sayfası</h1>
<p>Proje Vahap Doğan tarafından kodlanıyor...</p>
