@* 
    Programlama sayfasının içeriği
 *@
@{
    ViewData["Title"] = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" right-side text-center">
    <h1 class="display-4">Eğitim</h1>
    <p>AcodeX web sitesi projesi</p>
    <p>Proje Vahap Doğan tarafından kodlanıyor...</p>

</div>
