@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<div class="main-container">

    @await Component.InvokeAsync("HomeLastThreeEducation")
    @await Component.InvokeAsync("HomeIndexLastThreeBlog")
    @await Component.InvokeAsync("HomeIndexArtificial")
</div>
  @* 
    <!-- Anasayfa blog partialı-->
    @await Html.PartialAsync("PartialBlog")

    @*
    @await Component.InvokeAsync("BlogLastTreePost")
  
    <!-- Yapay zeka partialı-->
    @await Html.PartialAsync("PartialArticial") *@



