@*
    Hesabım sayfasının içeriği
 *@
@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" right-side text-center">
    <h1 class="display-4">Hesabım</h1>
    <p>AcodeX web sitesi projesi</p>
    <p>Proje Vahap Doğan tarafından kodlanıyor...</p>

</div>
