 <!-- Etiketler ve Metin içeriği -->
@model IEnumerable<EntityLayer.Concrate.Category>

<div class="widget-sidebar-box" style="margin-bottom:10px; border-bottom:1px groove gray">
    <h6>ETİKETLER</h6> 
    <ul style="text-decoration:none">
        @foreach (var item in Model)
        {
            <li> <a href="#">@item.Name</a>  </li>
        }
    </ul>
</div>