
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "_Layout";
}
<div class="main-container">
    <h1 class="text-danger text-center lg">İzinsiz Alan</h1>
    <p class="text-bg-dark text-center">Bu sayfayı kullanmaya yetkilindirilmediniz. </p>
</div>
