@model UserLoginViewModel;
@{
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-sd-3 offset-lg-4">
                <h1 class="mb-3 text-center">Giriş Yap</h1>
                <form class="mb-3" method="post" asp-controller="Home" asp-action="Index">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" asp-for="@Model.Email" placeholder="example@email.com" id="email" required />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Parola:</label>
                        <input type="password" class="form-control" asp-for="@Model.Password" id="password" required />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>

                    <div class="text-danger" asp-validation-summary="ModelOnly">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Giriş Yap
                    </button>
                </form>
                <div class="text-center">
                    <p>Hesabınız varsa</p>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-success btn-block">Hesap Oluştur</a>
                    <p class="small">
                        <a asp-controller="Account" asp-action="ResetPassword">Parolamı Unuttum</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
