@*
    Parolamı unuttum sayfası
*@
<div class="main-container">
   
    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center" style="min-height: calc(100vh - 112px);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login-title">
                        <h2 class="text-center text-danger lg">Parolamı Unuttum</h2>
                    </div>
                    <br />
                    <form class="form-bordered p-4" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                        <span>Parolanızı sıfırlamak için e-mail adresinizi giriniz.</span>
                        <div class="mb-3 row align-items-center" style="margin-top:0 !important">
                            <label for="exampleInputEmail1" class="col-auto col-form-label">Email:</label>
                            <div class="col">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Gönder</button>
                        <a asp-area="" asp-controller="Login" asp-action="Index" class="btn btn-success btn-block"> Giriş Yap </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>