@*
    Kullanıcı giriş sayfası
*@

@{
    ViewData["Title"] = "Index";
    Layout = "UserLayout";
}
<link href="~/tema/assets/css/stylesheet.css" rel="stylesheet" />
<link href="~/tema/assets/css/style-starter.css" rel="stylesheet" />


<div class="main-container">
    <div class="login-container" style="background-color:var(--bg-color)">
        <h4 style="text-align:center">Giriş Yap</h4> <br />
        <form method="post">

            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="Email" placeholder="E-mail" required>
            </div>
            <div class="input-group">
                <label for="password">Parola</label>
                <input type="password" id="password" name="Password" placeholder="******" required>
            </div>
            <button type="submit">Giriş Yap</button> <br />
            <a class="nav-link" style="text-align:center; text-decoration:none;" asp-area="" asp-controller="Register" asp-action="Index">Kayıt Ol </a>
            <a class="nav-link" style="text-align:center; text-decoration:none;" asp-area="" asp-controller="Login" asp-action="ForgotPassword">Parolamı Unuttum </a>

        </form>
    </div>
</div>