@model EntityLayer.Concrate.Writer

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link href="~/tema/assets/css/stylesheet.css" rel="stylesheet" />
<link href="~/tema/assets/css/style-starter.css" rel="stylesheet" />

<div class="main-container">
    <div class="login-container" style="background-color:var(--bg-color); height:600px; width:450px;">
        <h4 style="text-align:center">Giriş Yap</h4> <br />
        <form asp-action="Index" method="post">

            <div class="input-group">
                <label for="email">E-mail</label><br />
                <input asp-for="Email" class="form-control" placeholder="E-mail" />
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="input-group">
                <label for="password">Parola</label><br />
                <input asp-for="Password" type="password" class="form-control" placeholder="******" />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <button type="submit">Giriş Yap</button> <br />
            <a class="nav-link" style="text-align:center; text-decoration:none;" asp-area="" asp-controller="Register" asp-action="Index">Kayıt Ol </a>
            <a class="nav-link" style="text-align:center; text-decoration:none;" asp-area="" asp-controller="Login" asp-action="ForgotPassword">Parolamı Unuttum </a>

        </form>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
