@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="main-container">
    <div class="chat-container">
        <div class="chat-box">
            <div class="chat-header">
                AcodeX AI
            </div>
            <div class="chat-messages">
                <div class="message from-user">
                    Merhaba, sana nasıl yardımcı olabilirim?
                </div>
                <div class="message from-bot">
                    Hey, bugün ne öğrenmek istiyorsun?
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>
</div>

