@*
    Hakkımda sosyal medya
*@
@{
    ViewData["Title"] = "SocialMediaAbout";
}
    <!--Yazarın Sosyal Medyası-->
    <div class="widget-sidebar-box-two" style="margin-bottom: 10px; border-bottom:1px groove gray">
        <div class="widget-sidebar-title text-left pb-20">
            <h6>SOSYAL MEDYA</h6>
            <div class="em_bar_bg text-left1"></div>
        </div>
        <div class="categories-content">
            <ul>
                <li>
                    <button class="btn btn-outline-primary btn-sm">
                        <i href="https://www.instagram.com/vahap_dogann/" class="bi bi-instagram"></i> Instagram
                    </button>
                    <button class="btn btn-outline-primary btn-sm" type="button">
                        <i href="#" class="bi bi-github"></i> GitHub
                    </button>
                    <button class="btn btn-outline-primary btn-sm" type="button">
                        <i href="#" class="bi bi-facebook" "></i> Facebook
                    </button>
                    <button class="btn btn-outline-primary btn-sm" type="button">
                        <i href="#" class="bi bi-website"></i> WebSite
                    </button>
                    <button class="btn btn-outline-primary btn-sm" type="button">
                        <i href="#" class="bi bi-linkedln"></i> Linkedln
                    </button>

                </li>
            </ul>
        </div> <br />
    </div>
    <!-- //Yazarın Sosyal Meyadsı-->
    
