@*
    Yapılmış yorumların gösterildiği razor sayfası
 *@
 @model IEnumerable<EntityLayer.Concrate.Comment>

<div class=" col-lg-4 col-sm-6">
    @foreach (var item in Model)
    {
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                    <img src="~/tema/assets/images/team4.jpg"  class="img-fluid rounded-start" alt="UserProfil">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.UserName</h5>
                    <p class="card-text"> @item.Content</p>
                    <p class="card-text"><small class="text-body-secondary">@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))</small></p>
                </div>
            </div>
        </div>
    </div>
    }
</div>