@*
   Admin paneli navbar kısmı
*@

<div class="left-side-bar">
    <div class="brand-logo">
        <a  asp-controller="Admin" asp-action="Dashboard">
            <img src="~/admin/vendors/images/Beyaz_Logo_Transparan.png" alt="" class="light-logo" />
            <img src="~/admin/vendors/images/kırmızı_logo_transparan.png"
                 alt=""
                 class="dark-logo" />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-speedometer2"></span><span class="mtext">Panel</span>
                    </a>
                    <ul class="submenu">
                        <li><a asp-controller="Admin" asp-action="Dashboard">Gösterge Paneli</a></li>
                        <li><a asp-controller="Admin" asp-action="AnalysisPanel">Analiz Paneli</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-back"></span><span class="mtext">Yönetim Sayfası</span>
                    </a>
                    <ul class="submenu">
                        <li><a asp-controller="AdminWriters" asp-action="WriterList">Yazarlar</a></li>
                        <li><a asp-controller="AdminBlog" asp-action="BlogList">Bloglar</a></li>
                        <li><a asp-controller="AdminBlog" asp-action="BlogAdd">Blog Ekle</a></li>
                        <li><a asp-controller="AdminCategory" asp-action="CategoryList">Kategoriler</a></li>
                        <li><a asp-controller="AdminCategory" asp-action="CategoryAdd">Kategori Ekle</a></li>
                        <li><a asp-controller="AdminEducation" asp-action="EducationList">Eğitimler</a></li>
                        <li><a asp-controller="AdminEducation" asp-action="EducationAdd">Eğitim Ekle</a></li>
                        <li><a asp-controller="Account" asp-action="ForgotPassword">Parolamı Unuttum</a></li>
                        <li><a asp-controller="Home" asp-action="Index">Siteye Dön</a></li>
                        <li><a asp-controller="Account" asp-action="Login">Çıkış</a></li>

                    </ul>
                </li>
                <li>
                    <a asp-controller="Writer" asp-action="Message" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-chat-right-dots"></span><span class="mtext">Mesajlar</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Comments" asp-action="CommentListByBlog" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-chat-right-dots-fill"></span><span class="mtext">Yorumlar</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Writer" asp-action="WriterNotification" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-bell"></span><span class="mtext">Bildirimler</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Calendar" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-calendar4-week"></span><span class="mtext">Takvim</span>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <div class="sidebar-small-cap">Belgeler</div>
                </li>
                <li>
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-file-pdf"></span><span class="mtext">Dokümanlar</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="#">Doküman 1</a></li>
                        <li><a href="#">Doküman 2</a></li>
                        <li><a href="#">Doküman 3</a></li>
                    </ul>
                </li>

                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <div class="sidebar-small-cap">Ek Bileşenler</div>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-textarea-resize"></span><span class="mtext">Formlar</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="~/admin/form-basic.html">Basit Form</a></li>
                        <li>
                            <a href="~/admin/advanced-components.html">Gelişmiş Bileşenler</a>
                        </li>
                        <li><a href="~/admin/form-wizard.html">Form Wizard</a></li>
                        <li><a href="~/admin/html5-editor.html">HTML5 Editor</a></li>
                        <li><a href="~/admin/form-pickers.html">Form Pickers</a></li>
                        <li><a href="~/admin/image-cropper.html">Image Cropper</a></li>
                        <li><a href="~/admin/image-dropzone.html">Image Dropzone</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-table"></span><span class="mtext">Tables</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="~/admin/basic-table.html">Basic Tables</a></li>
                        <li><a href="~/admin/datatable.html">DataTables</a></li>
                    </ul>
                </li>
        



                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-archive"></span><span class="mtext"> UI Elements </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="~/admin/ui-buttons.html">Buttons</a></li>
                        <li><a href="~/admin/ui-cards.html">Cards</a></li>
                        <li><a href="~/admin/ui-cards-hover.html">Cards Hover</a></li>
                        <li><a href="~/admin/ui-modals.html">Modals</a></li>
                        <li><a href="~/admin/ui-tabs.html">Tabs</a></li>
                        <li>
                            <a href="~/admin/ui-tooltip-popover.html">Tooltip &amp; Popover</a>
                        </li>
                        <li><a href="~/admin/ui-sweet-alert.html">Sweet Alert</a></li>
                        <li><a href="~/admin/ui-notification.html">Notification</a></li>
                        <li><a href="~/admin/ui-timeline.html">Timeline</a></li>
                        <li><a href="~/admin/ui-progressbar.html">Progressbar</a></li>
                        <li><a href="~/admin/ui-typography.html">Typography</a></li>
                        <li><a href="~/admin/ui-list-group.html">List group</a></li>
                        <li><a href="~/admin/ui-range-slider.html">Range slider</a></li>
                        <li><a href="~/admin/ui-carousel.html">Carousel</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-command"></span><span class="mtext">Icons</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="~/admin/bootstrap-icon.html">Bootstrap Icons</a></li>
                        <li><a href="~/admin/font-awesome.html">FontAwesome Icons</a></li>
                        <li><a href="~/admin/foundation.html">Foundation Icons</a></li>
                        <li><a href="~/admin/ionicons.html">Ionicons Icons</a></li>
                        <li><a href="~/admin/themify.html">Themify Icons</a></li>
                        <li><a href="~/admin/custom-icon.html">Custom Icons</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-pie-chart"></span><span class="mtext">Charts</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="~/admin/highchart.html">Highchart</a></li>
                        <li><a href="~/admin/knob-chart.html">jQuery Knob</a></li>
                        <li><a href="~/admin/jvectormap.html">jvectormap</a></li>
                        <li><a href="~/admin/apexcharts.html">Apexcharts</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-file-earmark-text"></span><span class="mtext">Additional Pages</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="~/admin/video-player.html">Video Player</a></li>
                        <li><a href="~/admin/login.html">Login</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-bug"></span><span class="mtext">Error Pages</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="400.html">400</a></li>
                        <li><a href="403.html">403</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="500.html">500</a></li>
                        <li><a href="503.html">503</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-hdd-stack"></span><span class="mtext">Multi Level Menu</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle">
                                <span class="micon fa fa-plug"></span><span class="mtext">Level 2</span>
                            </a>
                            <ul class="submenu child">
                                <li><a href="javascript:;">Level 2</a></li>
                                <li><a href="javascript:;">Level 2</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

