@*
   Ana Layout sayfası
*@

@*
    Yazar Test
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AcodeX</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/core.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/admin/vendors/styles/icon-font.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/admin/src/plugins/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/admin/src/plugins/datatables/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/style.css" />
    <link rel="stylesheet" href="~/tema/assets/css/style-starter.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"></script>
    <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
            crossorigin="anonymous"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->

</head>
<body>


    @await Html.PartialAsync("../Home/HeaderPartial")

    @await Html.PartialAsync("../Home/NavbarPartial")


    @RenderBody()

    <div class="main-container">
        <div class="xs-pd-20-10 pd-ltr-20">
            <div class="footer-wrap card-box p-3">
                <p>&copy; @DateTime.Now.Year AcodeX</p>
                <ul class="social list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/abdulvahap-dogan-a29b69205/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/vahap_dogann/"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://vahapdogan.com.tr/"><span class="fa fa-google" aria-hidden="true"></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/vahap-18"><span class="fa fa-github" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="~/admin/vendors/scripts/core.js"></script>
    <script src="~/admin/vendors/scripts/script.min.js"></script>
    <script src="~/admin/vendors/scripts/process.js"></script>
    <script src="~/admin/vendors/scripts/layout-settings.js"></script>
    <script src="~/admin/vendors/scripts/dashboard3.js"></script>
    <script src="~/admin/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/admin/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin/vendors/scripts/dashboard3.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
                height="0"
                width="0"
                style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>
