<!-- Blog sayfa başlangıcı -->
<div class="main-container">
<div class="w3l-grids-block-5 py-5">
    <section id="grids5-block" class="pt-md-4 pb-md-5 py-4 mb-5">
        <div class="container">
            <div class="title-main text-center mx-auto mb-4">
                <h3 class="title-big">Bloglar</h3>
                <p class="sub-title mt-2">
                    Metinsel olarak anlatılan blog eğitimlerin sizlere sunulduğu sayfa.
                </p>
            </div>
            <div class="row mt-sm-5 pt-lg-2">
                <div class="col-lg-4 col-sm-6  mt-lg-0 mt-4">
                    <div class=" grids5-info">
                        <a href="#"><img src="~/tema/assets/images/blog1.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h5>October 3, 2019</h5>
                            <h4><a href="/Blog/BlogReadAll">Mostly Interesting UX/UI Designing</a></h4>
                            <p>
                                Donec sed tempus enim, a congue risus. Pellentesque euismod massa a quam
                                viverra interdum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Blog devam başlangıç-->
            <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Blog">
                    Bloglar
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>
            <!--Blog devam bitiş-->

        </div>
    </section>
</div>
</div>
<!-- Blog sayfa bitiş -->
