 <!-- Anasayfa video eğitimler başlanıç-->
<div class="w3l-index-block4 pb-5">
    <div class="features-bg pb-lg-5 pt-lg-4 py-4">
        <div class="container">
            <div class="title-main text-center mx-auto mb-md-4">
                <h3 class="title-big">Video Eğitimler</h3>
                <p class="sub-title mt-2">
                    Video eğitimler ile öğrenmeye bir adım daha erken başlayın.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 features15-col-text">
                    <a href="#" class="d-flex feature-unit align-items-center">
                        <div class="col-4">
                            <div class="features15-info">
                                <img class="img-fluid" src="~/tema/assets/images/c2.png" alt=" ">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="features15-para">
                                <h6>Sıfırdan Python</h6>
                                <h4>+40 Saat Python Programlama</h4>
                                <p>Python programlama diline sıfırdan başlayanlar için uygundur.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 features15-col-text">
                    <a href="#" class="d-flex feature-unit align-items-center active">
                        <div class="col-4">
                            <div class="features15-info">
                                <img class="img-fluid" src="~/tema/assets/images/c3.png" alt=" ">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="features15-para">
                                <h6>ASP.NET</h6>
                                <h4>ASP.NET ile Web Sitesi Yapımı</h4>
                                <p>Güçlü web siteleri için vazgeçilmez yöntem: ASP.NET </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 features15-col-text">
                    <a href="#" class="d-flex feature-unit align-items-center">
                        <div class="col-4">
                            <div class="features15-info">
                                <img class="img-fluid" src="~/tema/assets/images/c4.png" alt=" ">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="features15-para">
                                <h6>Nesne Tabanlı</h6>
                                <h4>Nesne Tabanlı Programlama</h4>
                                <p>Yazılımcının öğrenmesi gereken bir konu: Nesne Tabanlı Programlama</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!--Eğitim devam başlangıç-->
                <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Education">
                        Eğitimler
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
                <!--Eğitim devam bitiş-->
                <!-- Anasayfa video eğitimler bitiş -->
            </div>
        </div>
    </div>
</div>
