      <!-- Yapay zeka sayfası başlangıç -->
<section class="w3l-servicesblock py-md-5 py-4">
    <div class="container pb-2">
        <div class="row align-items-center">
            <div class="col-lg-5 left-wthree-img pr-lg-5">
                <img src="~/tema/assets/images/img1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 about-right-faq align-self mb-lg-0 mb-5 pl-xl-5">
                <h6>Yapay zeka</h6>
                <h3 class="title-big mb-3">Yapay Zeka ile <br>Hataları öğrenin</h3>
                <p class="">
                    Site içerisindeki yapay zeka ile aldığınız hataları veya kod önerilini, kod geliştirmeye yönelik sorularınızı sorabilirsiniz.
                </p>
                <div class="row mt-lg-4 mt-4 mb-2 ">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center left-insp-art">
                            <img src="~/tema/assets/images/book.png" alt="" class="img-fluid mr-3">
                            <p>AcodeX AI</p>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-sm-1 mt-4">
                        <div class="d-flex align-items-center left-insp-art">
                            <img src="~/tema/assets/images/book2.png" alt="" class="img-fluid mr-3">
                            <p class="text-left">Hata ve öneriler için</p>
                        </div>
                    </div>
                </div>

                <a class="btn button-style button-2 mt-lg-5 mt-4" asp-area="" asp-controller="Home" asp-action="Artificial">
                    AcodeX AI
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>

            <!--Yapay zeka devam başlangıç-->
            <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Artificial">
                    Yapay Zeka
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>
            <!--Yapay zeka devam bitiş-->

        </div>
    </div>
</section>
<!-- Yapay zeka sayfası bitiş -->