 @*
    Kullanıcı Layout sayfasıdır.
*@
@{
    Layout = null;
}


<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AcodeX - Bilinmeyen bir kod</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link href="~/tema/assets/css/style-starter.css" rel="stylesheet" />
</head>

<body>
      @RenderBody()
</body>

</html>