@*
  Kullanıcı kayıt sayfası
*@

@model EntityLayer.Concrate.Writer;

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link href="~/tema/assets/css/stylesheet.css" rel="stylesheet" />
<link href="~/tema/assets/css/style-starter.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="main-container">
    <div class="login-container" style="background-color:var(--bg-color); margin-top:50px;">
        <form method="post">
            <h4 style="text-align:center;">Kayıt Ol</h4>
            <div class="input-group">
                <label for="name">İsim</label>
                <input type="text" id="username" name="Name" placeholder="AcodeX" required>
            </div>
            <div class="input-group">
                <label for="surname">Soyisim</label>
                <input type="text" id="username" name="Surname" placeholder="Bilinmeyen bir kod" required>
            </div>
            <div class="input-group">
                <label for="amail">E-mail</label>
                <input type="email" id="username" name="Email" placeholder="acodex@gmail.com" required>
            </div>
            <div class="input-group">
                <label for="password">Parola</label>
                <input type="password" id="password" name="Password" placeholder="******" required>
            </div>

            <div class="form-check-mb-2">
                <input type="checkbox" id="checkSart" class="form-check-input" id="checkSart" />
                <label for="checkSart" class="form-check-label" id="SartKabul">Şartları kabul ediyorum</label>
            </div>

            <br />

            <button type="submit" id="kayitOl" disabled>Kayıt Ol</button> <br />
            <a class="nav-link" style="text-align:center; text-decoration:none;" asp-area="" asp-controller="Login" asp-action="Index">Giriş Yap </a>

            <div id="sart" style="display:none">
                <b>Bu belge, EğitimSitesi.com web sitesine üye olurken kabul etmeniz gereken şartlar ve koşulları içermektedir.</b>

                <h2>1. Kullanıcı Hesabı Oluşturma</h2>
                <p>
                    1.1. EğitimSitesi.com'a üye olmak için 18 yaşını doldurmuş olmalısınız.

                    1.2. Hesap oluştururken sağladığınız bilgilerin doğru ve güncel olduğundan emin olmalısınız.

                    1.3. Hesabınızın güvenliği sizin sorumluluğunuzdadır. Hesabınızı başkalarıyla paylaşmaktan kaçınmalısınız.
                </p>

                <h2>
                    2. İçerik Kullanımı ve Paylaşımı
                </h2>
                <p>
                    2.1. EğitimSitesi.com'da paylaşılan içerikler sadece kişisel kullanım içindir. İzinsiz olarak içerikleri çoğaltmak, dağıtmak veya satmak yasaktır.

                    2.2. EğitimSitesi.com'da paylaşılan içeriklerde yer alan bilgilerin doğruluğunu sağlamak sizin sorumluluğunuzdadır.
                </p>
                <h2>
                    3. Yasaklı Faaliyetler
                </h2>
                <p>
                    3.1. EğitimSitesi.com'da aşağıdaki faaliyetler yasaktır:

                    - İçeriklere zarar vermek veya izinsiz olarak değiştirmek,
                    - Diğer kullanıcıların gizlilik haklarına tecavüz etmek,
                    - Yasadışı faaliyetlerde bulunmak veya teşvik etmek.
                </p>
                <h2>
                    4. Gizlilik Politikası
                </h2>
                <p>
                    4.1. EğitimSitesi.com'un gizlilik politikasını kabul ediyorsunuz. Daha fazla bilgi için Gizlilik Politikası sayfasını ziyaret edebilirsiniz.
                </p>

                <h2>
                    5. Değişiklikler
                </h2>
                <p> 5.1. EğitimSitesi.com, bu şartları zaman zaman güncelleme hakkını saklı tutar. Güncellenmiş şartlar yayınlandıktan sonra, EğitimSitesi.com'u kullanmaya devam etmek, güncellenmiş şartları kabul ettiğiniz anlamına gelir."</p>
            </div>
        </form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-level-up" aria-hidden="true"></span>
</button>


<script src="~/tema/assets/js/owl.carousel.js"></script>

<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<script src="~/tema/assets/js/bootstrap.min.js"></script>


<script>

    // Paragraf elementini seç
    var paragraph = document.getElementById("sart");

    // Paragrafın içeriğini al
    var metin = paragraph.textContent;

    $('#SartKabul').click(function () {
        swal({
            title: "Kullanım koşulları",
            text: metin,
            icon: "info",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Kullanım koşullarını kabul ettiniz", {
                        icon: "success",
                    });
                } else {
                    swal("Kayıt olmak için kullanım koşullarını kabul etmek zorundasınız!", {
                        icon: "warning",
                    });
                }
            });
    })
    // "Şartları kabul et" butonuna tıklanınca
    $('#checkSart').click(function () {
        // Checkbox'ı işaretle
        $('#checkSart').prop('checked', true);
        // Kayıt ol butonunu etkinleştir
        $('#kayitOl').prop('disabled', false);
    });

</script>

