@using EntityLayer.Concrate
@model List<Category>

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>İd</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
            <td><a href="#" class="btn btn-primary">Sil</a></td>
        </tr>
    }
</table>