@*
    Abone Ol bölümü
*@

<div class="widget-sidebar-box-two" style="margin-bottom:10px; border-bottom: 1px groove gray">
    <h6>ABONE OL</h6>
    <form class="input-group mb-3" style="width: 100%;" method="post"  action="/NewsLetter/SubscribeMail/">
        <em style="text-align:left; margin-bottom:5px">Gelecek eğitimlerden haberdar olmak için abone olabilirsiniz.</em> <br />
        <input type="email" class="form-control" placeholder="acodex@gmail.com" name="Mail" style="margin-bottom: 5px;"> <br />
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" style="width: 100%;">Abone Ol</button>
    </form>
</div>