
<style>
    
    .img-large {
        width: 100px; 
        height: 100px; 
    }

  
    .rounded-circle {
        border-radius: 50%; 
    }

</style>
<div class="row">
    <div class="col-md-4 mb-15">
        <div class="card-box min-height-200px pd-20 mb-20" data-bgcolor="#20545E">
            <div class="d-flex justify-content-between pb-20 text-white">
                <div class="icon h1 text-white">
                    <img src="~/Admin/src/images/img1.jpg" alt="Ayın Eğitmeni" class="rounded-circle img-large" />
                </div>
                <div class="font-16 text-right">
                    <div> <b>Ayın Eğitmeni</b></div>
                </div>

            </div>
            <div class="d-flex justify-content-between align-items-end">
                <div class="text-white">
                    <div class="font-24">A.Vahap Doğan</div>
                    <div class="font-14 weight-500">10 tane blog yayımladı</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 mb-15">
        <div class="card-box min-height-200px pd-20 mb-20" data-bgcolor="#20545E">
            <div class="d-flex justify-content-between pb-20 text-white">
                <div class="icon h1 text-white">
                    <img src="~/Admin/src/images/img.jpg" alt="Ayın Öğrencisi" class="rounded-circle img-large" />
                </div>
                <div class="font-16 text-right">
                    <div> <b>Ayın Öğrencisi</b></div>
                </div>

            </div>
            <div class="d-flex justify-content-between align-items-end">
                <div class="text-white">
                    <div class="font-24">A.Vahap Doğan</div>
                    <div class="font-14 weight-500">120 blog okudu</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 mb-15">
        <div class="card-box min-height-200px pd-20 mb-20" data-bgcolor="#20545E">
            <div class="d-flex justify-content-between pb-20 text-white">
                <div class="icon h1 text-white">
                    <img src="~/Admin/src/images/img2.jpg" alt="Ayın Eğitmeni" class="rounded-circle img-large" />
                </div>
                <div class="font-16 text-right">
                    <div> <b>Ayın Eğitimi</b></div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <div class="text-white">
                    <div class="font-14">A.Vahap Doğan</div>
                    <div class="font-24 weight-500">Siber Güvenlik</div>
                </div>

            </div>
        </div>
    </div>
</div>