@using EntityLayer.Concrate
@model List<Education>

@{
    int siraNo = 1;
}
<div class="pd-20 card-box mb-30" data-bgcolor="#F9EFEF">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h6">Son 5 Eğitim</h4>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>Yazar Adı</th>
                <th>Kategori</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Java Kodlama</td>
                <td>A.Vahap Doğan</td>
                <td>java</td>
            </tr>
            <tr>
                <th>2</th>
                <td>MVC Core</td>
                <td>A.Vahap Doğan</td>
                <td>web</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Assembly Programlama</td>
                <td>A.Vahap Doğan</td>
                <td>assembly</td>
            </tr>
        </tbody>
    </table>
</div>