
@{
    ViewData["Title"] = "AnalysisPanel";
    Layout = "AdminLayout";
}

<div class="main-container">

    <div class="xs-pd-20-10 pd-ltr-20">
        @await Component.InvokeAsync("DateAndWeather")
        @await Component.InvokeAsync("AdminStaticticMonthBlogs")
        @await Component.InvokeAsync("AdminStatisticTotal")
    </div>

    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="row">
            <div class="col-md-6">
                @await Component.InvokeAsync("AdminDashboardNotification")
            </div>
            <div class="col-md-6">
                @await Component.InvokeAsync("AdminDashboardMessage")
            </div>

            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="row">
                    <div class="col-md-6">
                        @await Component.InvokeAsync("AdminLastFiveBlog")
                    </div>
                    <div class="col-md-6">
                        @await Component.InvokeAsync("AdminLastFiveEducation")
                    </div>
                    <div class="col-md-6">
                        @await Component.InvokeAsync("AdminLastFiveStudent")
                    </div>
                    <div class="col-md-6">
                        @await Component.InvokeAsync("AdminLastFiveEducator")
                    </div>
                </div>
            </div>

        </div>
        <div class="xs-pd-20-10 pd-ltr-20">
            @await Component.InvokeAsync("AdminWonsBlog")
            @await Component.InvokeAsync("AdminWonsEducator")
        </div>

    </div>
</div>

