@*
    Yönetim panelinde Gösterge paneli sayfası (AnalysisPanel)
*@
@{
    ViewData["Title"] = "AnalysisPanel";
    Layout = "AdminLayout";
}

<div class="main-container">

    <div class="xs-pd-20-10 pd-ltr-20">
        @await Component.InvokeAsync("DateAndWeather")
        @await Component.InvokeAsync("StaticticMonthBlogs")
        @await Component.InvokeAsync("StatisticTotal")
    </div>

    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="row">
            <div class="col-md-6">
                @await Component.InvokeAsync("DashboardNotification")
            </div>
            <div class="col-md-6">
                @await Component.InvokeAsync("AdminDashboardMessage")
            </div>

            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="row">
                    <div class="col-md-6">
                        @await Component.InvokeAsync("LastFiveBlog")
                    </div>
                    <div class="col-md-6">
                        @await Component.InvokeAsync("LastFiveEducation")
                    </div>
                    <div class="col-md-6">
                        @await Component.InvokeAsync("LastFiveStudent")
                    </div>
                    <div class="col-md-6">
                        @await Component.InvokeAsync("LastFiveEducator")
                    </div>
                </div>
            </div>

        </div>
        <div class="xs-pd-20-10 pd-ltr-20">
            @await Component.InvokeAsync("WonsBlog")
            @await Component.InvokeAsync("WonsEducator")
        </div>

    </div>
</div>

