@*
    Yönetim panelinde Analiz paneli sayfası (Dashboard)
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "AdminLayout";
}
<div class="main-container">
    <div class="container-fluid">
        <div class="pd-ltr-20">
            <div class="card-box pd-20 height-100-p mb-30">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="~/admin/vendors/images/kırmızı_logo_transparan.png" />
                    </div>
                    <div class="col-md-8">
                        <h4 class="font-20 weight-500 mb-10 text-capitalize">
                            Hoşgeldin
                            <div class="weight-600 font-30 text-blue">A.Vahap Doğan</div>
                        </h4>
                        <p class="font-18 max-width-600">
                            <b>Bugünün Özeti</b>
                            <ul>
                                <li>8 yeni kullanıcı</li>
                                <li>2 yeni eğitim</li>
                                <li>5 yeni blog</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

            @await Component.InvokeAsync("DashboardStudentList")
            @await Component.InvokeAsync("BlogListDashboard")
            @await Component.InvokeAsync("CategoryListDashboard")
        </div>
    </div>
</div>