@*
    Yönetim panelinde Analiz paneli sayfası (Dashboard)
*@

@{
    ViewData["Title"] = "Dashboard";
    Layout = "AdminLayout";
}
<div class="main-container">
    <div class="container-fluid">
        <div class="pd-ltr-20">
           @await Component.InvokeAsync("AdminWelcome")
            @await Component.InvokeAsync("DashboardStudentList")
            @await Component.InvokeAsync("BlogListDashboard")
            @await Component.InvokeAsync("CategoryListDashboard")
        </div>
    </div>
</div>